# Игнорируем все JAR файлы (моды)
*.jar

# Игнорируем временные и локальные файлы лаунчера
/logs/
/saves/
/screenshots/
/resourcepacks/*
/shaderpacks/*
/backups/
/.curseclient/
/local/
/usernamecache.json
/usercache.json
/options.txt
minecraftinstance.json
patchouli_data.json
user-prefs.json

# Исключения для packwiz (разрешаем метаданные)
!/mods/*.pw.toml
!/resourcepacks/*.pw.toml
!/shaderpacks/*.pw.toml

# Разрешаем конфиги
!/config/**

# Данные карт (локальные для каждого игрока)
xaero/
journeymap/

# Бэкапы (они только место занимают)
XaeroWaypoints_BACKUP240807/
tacz_backup/

# Если вдруг появятся логи или скриншоты
logs/
screenshots/