mods/*.jar
mods/*.zip
logs/
saves/
journeymap/
xaero/
XaeroWaypoints*
local/
downloads/
tacz_backup/
usercache.json
usernamecache.json
options.txt
.curseclient
minecraftinstance.json
patchouli_books/
patchouli_data.json
schematics/